/*
Theme Name: Boostrap Theme
Theme URI: https://www.lyrathemes.com/bootstrap-wordpress-theme-tutorial/
Author: Abby
Author URI: https://www.lyrathemes.com
Description: A basic theme using the Bootstrap framework.
Version: 1.0
Text Domain: bootstrapstarter
*/

@import url('css/bootstrap.css'); 
@import url('css/bootstrap-theme.css'); 
body { 
     padding-top: 60px; 
     padding-bottom: 40px; 
}


.bottomMenu { display: block; width:block;}
.bottomMenu ul { display:inline; float:right;}
.bottomMenu li { list-style-type: none; display: inline; font-size: 14px; }
.bottomMenu li a {
	color:#000;
	line-height:15px;
	text-decoration:none;
	font-weight:normal;
	border-right: thin solid #000;
	padding: 0 7px 0 3px;
}
.bottomMenu li a:hover { color:#ccc; text-decoration:underline;}
.bottomMenu li:last-child > a {border-right: none;} /* remove pipe from last item */
